<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Selecciona tu Avatar</h2>
    <div id="avatarOptions">
        <img src="/assets/avatar_1.jpg" alt="Avatar 1" onclick="seleccionarAvatar('avatar_1.jpg')">
        <img src="/assets/avatar_2.jpg" alt="Avatar 2" onclick="seleccionarAvatar('avatar_2.jpg')">
        <img src="/assets/avatar_3.jpg" alt="Avatar 3" onclick="seleccionarAvatar('avatar_3.jpg')">
        <img src="/assets/avatar_4.jpg" alt="Avatar 4" onclick="seleccionarAvatar('avatar_4.jpg')">
        <img src="/assets/avatar_5.jpg" alt="Avatar 5" onclick="seleccionarAvatar('avatar_5.jpg')">
        <img src="/assets/avatar_6.jpg" alt="Avatar 6" onclick="seleccionarAvatar('avatar_6.jpg')">
    </div>
    <script src="/scripts/avatar.js"></script>
</body>
</html>