<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Iniciar Sesión</title>
  <link rel="stylesheet" href="/styles/style.css">
  <link rel="icon" type="image/png" href="/assets/6843050_business_community_corporate_employee_people_icon.png">
</head>
<body>
  <div class="container" id="inicioSesion">
      <h2>Iniciar Sesión</h2>
      <form id="loginForm">     
          <input type="text" name="email" id="email" placeholder="Email" required><br>
          <input type="password" name="contraseña" id="password" placeholder="Contraseña" required><br>
          <button type="submit" >Iniciar sesion</button>
      </form>    
      <p class="message"> ¿No tienes una cuenta? </p>
      <a href="form_inscripcion.html" class="message">Registrarse </a>
     </p>    
  </div>
  
  <script src="/scripts/iniciar_sesion.js"></script>
</body>
</html>
