<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servidores</title>
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="icon" type="image/png" href="/assets/6843050_business_community_corporate_employee_people_icon.png">
</head>
<body>
  <section id="page">
      <header>TeamHub</header>
      <nav>
        <a href="crear_servidor.html" class="boton">
          <img src="/assets/4781840_+_add_circle_create_expand_icon (1).png" alt="Crear Servidor">
          <br>
          <p>Crear servidor</p>
      </a>
      
      <a href="buscar_servidor.html" class="boton">
          <img src="/assets/185042_edit_modify_icon.png" alt="Buscar servidor">
          <br>
          <p>Buscar servidor</p>
      </a>
      
        <div id="contenedorServidores">
        </div>
        <div class="perfil" id="perfil">
      </div>
      </nav>
      <main>   
      <div id="mensajeSinServidores"> 
       
      </div>
        <div id="columnaCanales" class="columna" >
       
        </div>
        <div id="columnaMensajes" class="columna">
        
      </div>
      
      </main>
    </section>
    <script src="/scripts/perfil.js"></script>
    <script src="/scripts/servidores.js"></script>
    <script src="/scripts/canales.js"></script>
    <script src="/scripts/chat.js"></script>
    <script src="/scripts/pantalla_perfil.js"></script>


</body>
</html>
