<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servidores</title>
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="icon" type="image/png" href="/assets/6843050_business_community_corporate_employee_people_icon.png">
  </head>
  <body>
    <section id="page">
      <header>TeamHub
        <input type="text" id="busqueda" placeholder="Buscar...">
      </header>
      <nav>
        <button class="boton" id="crearServidor"><img src="/assets/4781840_+_add_circle_create_expand_icon (1).png" alt="Crear Servidor"><br><p>Crear servidor</p></button>
        <button class="boton" id="buscarServidor"><img src="/assets/185042_edit_modify_icon.png" alt="buscar servidor"><br><p>Buscar servidor</p></button>
        <div class="perfil">
          <img src="/assets/messi.png" alt="Foto de perfil">
          <p class="per">messi</p>
        </div>
      </nav>
      <main>
        <button class="boton" id="medicina"><img src="/assets/10559942_free_treatment_care_voluntary_medical_icon.png" alt="Salud y bienestar"><br><p>Salud y Bienestar</p></button>
        <button class="boton" id="literatura"><img src="/assets/2639852_literature_icon.png" alt="Literatura fantastica"><br> <p>Literatura fantastica</p></button>
        <button class="boton" id="viajes"><img src="/assets/7195743_elder_travel_vacation_trip_traveling couple_icon.png" alt="Relatos de viajes"><br><p>Relatos salvajes</p></button>
        <button class="boton" id="cine"><img src="/assets/4288563_cinema_clapperboard_media_network_social_icon.png" alt="Locura cinematografica"><br><p>Locura cinematografica</p></button>
        <button class="boton" id="deportes"><img src="/assets/3818474_ball_basketball_sport_icon.png" alt="Fanaticos del deporte"><br><p>Fanaticos del deporte</p></button>
        <button class="boton" id="musica"><img src="/assets/185069_headset_sound_icon.png" alt="Caos musical"><br><p>Caos musical</p></button>
        <button class="boton" id="juegos"><img src="/assets/6646670_device_game_gameboy_games_video_icon.png" alt="Control de juegos"><br><p>Control de juegos</p></button>
      </main>
      <footer>Footer</footer>
    </section>
    </main>
    <script src="/scripts/app.js"></script>
  </body>
</html>