.container {
  width: 40vw;
  height: 60vh;
  margin: 0 auto;
  margin-top: 100px;
  background-color: #07045d;
  border-radius: 50px;
  border-style: solid;
  padding: 90px;
  box-shadow: 0 20px 20px rgb(17, 5, 20);
  text-align: center; 
    
}

body {
  display: grid;
  background-color: #b9b9b9;
  font-family: Arial, sans-serif;
}



h2 {
  color: #ffffff;
  text-transform: uppercase;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-style: oblique;
  letter-spacing: 3px;
  text-shadow: 3px 3px 4px #e5e9e5;

}

h3 {
  color: #07045d;
  text-transform: uppercase;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-style:oblique;
  letter-spacing: 2px;
  text-shadow: 3px 3px 4px;
  font-size: 300%;
  margin-top: 10%;
  margin-left: 7%;
  margin-bottom: 0%;
}


label{
  color: aliceblue;
    
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="select"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 4px solid #ccc;
  border-radius: 5px;
}

input[type="submit"] {
  background-color: #333;
  color: #ffffff;
  border:groove;
  padding: 10px 30px;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 5%;
}
button[type="submit"] {
  background-color: #333;
  color: #ffffff;
  border:groove;
  padding: 10px 30px;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 5%;
}

.message{
  font-size: 13px;
  color: #ffffff;
}


img{
  width: 110px;
  height: 110px;
  align-items: center;
  margin-left: 10%;
  margin-top: 10%;
  border: groove;
  border-radius: 30%;
}
.boton{
  cursor: pointer;  
  background: none;
  border: none;
  margin-left: 7%;
  margin-bottom: 7%;

}


.columna {
  background-color: #211f68;;
  border: 2px solid #07045d;
  text-align: center;

  /*overflow-y: auto; /* Agregamos desplazamiento vertical si el contenido es largo */

}

#columnaMensajes {
  width: 100%;
}



#page {
  display: grid;
  grid-template-areas:
    "head head"
    "nav  main"
    "nav  main"; /* Cambia "foot" a "main" aquí */
  grid-template-rows: 50px 1fr;
  grid-template-columns: 150px 1fr;
}

#page > header {
  grid-area: head;
  color: #07045d;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#busqueda {
  width: 150px;
  padding: 5px;
}

#crearServidor, #buscarServidor {
  margin-left: auto;
}

#page > nav {
  grid-area: nav;
  background-color: #07045d;


}

#page > main {
  grid-area: main;
  display: flex;
  background-color: #ffffff;
}

#page > footer {
  grid-area: foot;

}
p{
  color: rgb(255, 255, 255);
  font-style: oblique;
  background-color: #07045d;
  font-size: 130%;
  margin-left: 7px;
}
.canales{
  display: grid;
  width: 20vw;
  height: 92.3vh;
  margin-bottom: 0%;
  border:double;
  background-color: #07045d;
  color: aliceblue;
  font-size: 300%;

}

.perfil {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: grey;
}

.per {
  background-color: grey;
}

.perfil img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 5px;
  margin-bottom: 5px; /* Agrega margen inferior para separar la imagen del nombre */
}

#agregarCanal {
  margin-top:500px ;
  margin-right: auto;
  margin-left: auto;
  color: #ffffff;
  font-style: oblique;
  background-color: grey;
  font-size: 20PX;
  height: 40px /* Ajusta este valor según tu preferencia */
}


.mensajes {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 20px; /* Ajusta el margen según sea necesario */
}

.mensaje {
  display: flex;
  align-items: center;
  margin-bottom: 10px; /* Espacio entre los mensajes */
}

.mensaje img {
  width: 50px; /* Tamaño de la foto de perfil */
  height: 50px;
  border-radius: 50%;
  margin-right: 20px; /* Espacio entre la foto de perfil y el contenido del mensaje */
}

.contenido {
  display: flex;
  align-items: center;
  background-color: #07045d;
  color: #ffffff;
}

.contenido .info {
  margin-right: 2px;
  margin-top: 50px; /* Espacio entre el nombre de usuario y la fecha */
}

.mensaje h4, .mensaje p {
  margin: 0;
  font-size: 16px;
}

.mensaje p {
  font-size: 12px; /* Tamaño del texto de fecha y mensaje */
}

#fh{
  width: 120px;
  text-align: center;
  
}
#msn{
  width: 120px;
  width: 320px;
}